<div class="view-container padding-t-20">
  	<div class="col-xs-12 col-sm-12 col-md-6 margin-t-b-20-sm-down">
		<!-- listado de usuarios -->
		<div class="content-container-inner animated fadeIn">
	        <!-- barra de progreso circular -->
	        <div ng-if="waitLoadLines" class="animate-if-panel progress-circular-panel center-items bg-W opacity-05">
	          <md-progress-circular  md-mode="indeterminate"></md-progress-circular>
	        </div>
	        <!-- encabezado de listas -->
	        <div class="form-header bg-3">
		        <h4 class="fc-W margin-t-b-5">Línea creadas</h4>
	        </div>
	      	<div class="form-body no-padding-l-r panel-scroll-vertical-600-no-padding">
	      		<!-- alerta de reasigancion de areas -->
	      		<alert ng-if="reassignSuccessLines" class="animated fadeInUp alert no-fixed" type="warning" close="$parent.reassignSuccessLines = null">
					[[reassignSuccessLines]]
				</alert>			
	      		<!-- lista de todos las líneas existentes -->
	      		<div ng-if="lines.length < 1" class="no-content-msg"><i class="mdi mdi-information-outline"></i> No hay ninguna línea creada</div>
	      		<div ng-repeat="line in lines" class="card-user-container">
	      			<!-- popUp confirmar -->
			        <div ng-if="waitConfirmDeleteLine == line" class="animated zoomInUp popup-delete-user">
			        	<!-- barra de progreso circular -->
				        <div ng-if="waitDeleteLine" class="animate-if-panel progress-circular-panel center-items bg-W opacity-05">
				          <md-progress-circular  md-mode="indeterminate"></md-progress-circular>
				        </div>
			        	<div class="container-inner">
			        		<p class="popup-text"><i class="mdi mdi-alert"></i> [[popupTextLine]]
			        			<button type="button" class="close" ng-click="closeWaitDeleteLine(line)" tabindex="0" aria-hidden="false">
							        <span aria-hidden="true">×</span>
							        <span class="sr-only">Close</span>
							    </button>
			        		</p>
				          	<div ng-if="!reassignAreas" class="form-group col-xs-6">
						        <input ng-model="line.deletePassword" type="password" class="form-control white" id="deletePassword2" placeholder="Password">
					        </div>
					        <div ng-if="reassignAreas" class="form-group col-xs-6">
					        	<select class="form-control white" id="role" ng-model="line.reassignLineId">
							      <option value="">Reasignar áreas a otra línea</option> <!-- not selected / blank option -->
							      <option ng-repeat="opt in linesAux" value="[[opt.id]]">[[opt.name]]</option> <!-- interpolation -->
							    </select>
					        </div>
					        <div  class="form-group col-xs-6">
						       <button class="wid-100 btn btn-lg btn-primary color-4 fs-xs-30" ng-disabled="!line.deletePassword && line.reassignLineId == null" ng-click="deleteLine(line)">[[reassignAreas ? 'Reasignar áreas' :'Eliminar línea' ]]<br class="visible-xs"></button>
					        </div>
			        	</div>
				        <div class="overlay"></div>
			        </div>
			        <!-- popUp confirmar -->
	      			<div class="col-xs-12">
	      				<div class="users-info-panel">
	      					<div class="col-xs-3 col-sm-2">
	      						<div class="lines-weight-container">
	      							[[line.weight]]%
	      						</div>
	      					</div>
	      					<div class="col-xs-9 col-sm-10">
			      				<h3 class="no-margin fc-3">[[line.name]]</h3>
			      				<p class="fc-silver no-margin"><i class="mdi mdi-crosshairs-gps fc-success"></i> [[line.objective]]</p>
	      					</div>
	      				</div>
	      				<div class="actions-users">
	      					<div class="actions-users-button btn btn-default" ng-click="confirmDeleteLine(line)" tooltip-popup-delay='1000' tooltip='Eliminar' tooltip-placement="left">
	      						<i class="mdi mdi-delete"></i>	
	      					</div>
	      					<div class="actions-users-button btn btn-default" ng-click="loadLineForm(line)" tooltip-popup-delay='1000' tooltip='Editar' tooltip-placement="left">
	      						<i class="mdi mdi-border-color"></i>
	      					</div>
	      				</div>
	      			</div>
	      		</div>	       
	    	</div>
		</div>
	</div>
	<div class="col-xs-12 col-sm-12 col-md-6 margin-t-b-20-sm-down">
	    <md-tabs  md-selected="selectedTabLines" md-border-bottom md-autoselect class="tabs-config menu-hidden">
		    <md-tab label="Crear lineas">
		        <!-- fomrulario creacion de lineas -->
				<div  class="content-container-inner">
				    <form class="wid-100">
				        <!-- barra de progreso circular -->
				        <div ng-if="waitCreateLine" class="animate-if-panel progress-circular-panel center-items bg-W opacity-05">
				          <md-progress-circular  md-mode="indeterminate"></md-progress-circular>
				        </div>
				        <!-- encabezado de formulario -->
				        <div class="form-header bg-3">
					        <h4 class="fc-W text-initial margin-t-b-5">Crear línea</h4>
					        <h5 class="fc-W hidden-xs text-initial margin-t-b-5">Por favor ingrese la siguiente información</h5>
				        </div>
				      	<div class="form-body">	
				      		<div ng-if="totalLinesWeight == 0" class="no-content-msg"><i class="mdi mdi-information-outline"></i> Completo el 100% de las líneas</div>
				      		<!-- alertas de error -->
							<alert ng-if="createMessageLines" type="danger" class="animated fadeInUp alert no-fixed" close="$parent.createMessageLines = null">
								<strong>
								  <UL type = disk >
								    <LI class="text-initial" ng-repeat="msg in createMessageLines">[[msg]]
								  </UL>
								</strong>
							</alert>
							<!-- alerta de exito -->
							<alert ng-if="createSuccessLines" class="animated fadeInUp alert no-fixed" type="success" close="$parent.createSuccessLines = null">
								[[createSuccessLines]]
							</alert>			      		
							<div class="col-xs-12" ng-if="totalLinesWeight > 0">
						        <div class="form-group col-xs-12 col-md-6">
						          <input ng-model="$parent.lineForm.name" type="text" class="form-control white" id="name" placeholder="Nombre de la linea">
						        </div>
						        <div class="form-group col-xs-12 col-md-6">
						          <input ng-model="$parent.lineForm.objective" type="text" class="form-control white" id="objective" placeholder="Objetivo de la linea">
						        </div>
						        <div class="form-group col-xs-12">
						        	<label ng-if="totalLinesWeight" class="fc-silver">Peso de la línea: [[lineForm.weight]]%</label>
						        	<md-slider flex class="md-primary" md-discrete ng-model="$parent.lineForm.weight" step="1" min="0" max="[[totalLinesWeight]]" ng-disabled="totalLinesWeight == 0" aria-label="rating">
     								 </md-slider>
						          <!-- <input ng-model="lineForm.weight" type="text" class="form-control white" id="user" placeholder="Peso de la linea"> -->
						        </div>									        
						        <div class="wid-100 center-items">
							        <div  class="col-md-8 col-sm-12 col-xs-12 center-items no-padding-xs margin-t-b-5" ng-click="createLine()">
							          <button class="wid-100 btn btn-lg btn-primary color-3 fs-xs-30">Crear línea</button>
							        </div>
						        </div>
			       			 </div>
				    	</div>					      
				   </form>
			   	</div>
		    </md-tab>
		    <md-tab label="Editar lineas">
		    	 <!-- fomrulario creacion de lineas -->
				<div  class="content-container-inner">
				    <form class="wid-100">
				        <!-- barra de progreso circular -->
				        <div ng-if="waitCreateLine" class="animate-if-panel progress-circular-panel center-items bg-W opacity-05">
				          <md-progress-circular  md-mode="indeterminate"></md-progress-circular>
				        </div>
				        <!-- encabezado de formulario -->
				        <div class="form-header bg-3">
					        <h4 class="fc-W text-initial margin-t-b-5">Editar línea</h4>
					        <h5 class="fc-W hidden-xs text-initial margin-t-b-5">Por favor ingrese la siguiente información</h5>
				        </div>
				      	<div class="form-body">	
				      		<!-- alertas de error -->
							<alert ng-if="createMessageLines" type="danger" class="animated fadeInUp alert no-fixed" close="$parent.createMessageLines = null">
								<strong>
								  <UL type = disk >
								    <LI class="text-initial" ng-repeat="msg in createMessageLines">[[msg]]
								  </UL>
								</strong>
							</alert>
							<!-- alerta de exito -->
							<alert ng-if="createSuccessLines" class="animated fadeInUp alert no-fixed" type="success" close="$parent.createSuccessLines = null">
								[[createSuccessLines]]
							</alert>			      		
							<div class="col-xs-12">
						        <div class="form-group col-xs-12 col-md-6">
						          <input ng-model="lineForm.name" type="text" ng-change="$parent.detectChangesLine = true" class="form-control white" id="name" placeholder="Nombre de la linea">
						        </div>
						        <div class="form-group col-xs-12 col-md-6">
						          <input ng-model="lineForm.objective" type="text" ng-change="$parent.detectChangesLine = true" class="form-control white" id="objective" placeholder="Objetivo de la linea">
						        </div>
						        <div class="form-group col-xs-12">
						        	<label class="fc-silver">Peso de la línea: [[lineForm.weight]]%</label>
						        	<md-slider ng-if="totalLinesWeightEdit" flex class="md-primary" md-discrete ng-model="lineForm.weight" step="1" min="0" max="[[totalLinesWeightEdit]]" aria-label="rating">
     								</md-slider>
						          <!-- <input ng-model="lineForm.weight" type="text" class="form-control white" id="user" placeholder="Peso de la linea"> -->
						        </div>					     
						        <div class="wid-100">
							        <div  class="col-md-6 col-sm-6 col-xs-12 center-items no-padding-xs" >
							          <button class="wid-100 btn btn-lg btn-primary color-3 fs-xs-30" ng-click="editLines()" ng-disabled="false" >Guardar cambios</button>
							        </div>
							        <div  class="col-md-6 col-sm-6 col-xs-12 center-items no-padding-xs" >
							          <button class="wid-100 btn btn-lg btn-primary color-4 fs-xs-30" ng-click="cancelEditLine();$parent.detectChangesLine = false">Cancelar</button>
							        </div>
						        </div>
			       			 </div>
				    	</div>					      
				   </form>
			   	</div>
		    </md-tab>      
	    </md-tabs>
	</div>
</div>